.tip {
  width: 100%;
  background-color: #ebebfc;
  color: #4f4fb9;

  border-radius: 0.62rem;
  padding: 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;
  animation: appear 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.tip h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.tip p {
  font-size: 1rem;
  margin-top: 0.31rem;
}

.tip > img {
  height: 2rem;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    scale: 1.2;
  }
  100% {
    opacity: 1;
  }
}
