.letter {
  width: 3.37rem;
  height: 3.37rem;
  border-radius: 0.62rem;

  background-color: #ebebfc;
  color: #6363db;

  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  animation: appear 0.5s ease-in-out forwards;
  animation-delay: calc(0.2s + (var(--i, 0) * 0.15s));
  opacity: 0;
}

.letterSmall {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.43rem;

  font-size: 1.25rem;
  font-weight: 500;
  border: 1px solid #6363db;
}

.letterCorrect {
  background-color: #e1f5ec;
  border-color: #03ab4f;
  color: #03ab4f;
}

.letterWrong {
  background-color: #ffcf62;
  border-color: #691b0a;
  color: #691b0a;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    scale: 1.2;
  }
  100% {
    opacity: 1;
  }
}
